.postDetailsDiv {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
}

.commentDiv {
    margin-bottom: 10px;
    font-size: 18px;
    color: cornflowerblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}